<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="resources :: head"></div>
	<title>Departments</title>
</head>
<body>
	<div class="container">
	<h1>Departments</h1 >
	<hr/>
	
	<table class="table">
		<!-- name address phone email website head_of_department -->
		<thead>
			<tr class="table-light text-center">
				<th scope="col">Name</th>
				<th scope="col">Address</th>
				<th scope="col">Phone</th>
				<th scope="col">Email</th>
				<th scope="col">Website</th>
				<th scope="col">Head of Department</th>
				<th></th>
			</tr >
		</thead>
		<tbody>
			<tr th:each="department : ${departments}">
				<td class="table-primary" th:text="${department.name}"></td>
				<td th:text="${department.address}"></td>
				<td class="table-primary" th:text="${department.phone}"></td>		
				<td th:text="${department.email}"></td>
				<td class="table-primary" th:text="${department.website}"></td>
				<td th:text="${department.headOfDepartment}"></td>
				<td><a class="btn btn-primary" th:href="@{|/department/${department.id}|}">Detail</a></td>
			</tr>
		</tbody >
	</table>
	<div th:replace="resources :: scripts"></div>
	</div>
</body>
</html>