<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="resources :: head"></div>
		<title>Dettagli</title>
	</head>
	<body>
		<div class="container">
			<h1 th:text="${department.name}"></h1>
			<hr/>
			 <!-- name level address email website (stringhe) + department_id -->
		<table class="table">
		<thead>
			<tr class="table-light text-center">
				<th scope="col">Name</th>
				<th scope="col">Level</th>
				<th scope="col">Address</th>
				<th scope="col">Email</th>
				<th scope="col">Website</th>

			</tr >
		</thead>
		<tbody>
			<tr th:each="degree : ${degrees}">
				<td class="table-primary" th:text="${degree.name}"></td>
				<td th:text="${degree.level}"></td>
				<td class="table-primary" th:text="${degree.address}"></td>		
				<td th:text="${degree.email}"></td>
				<td class="table-primary" th:text="${degree.website}"></td>
			</tr>
		</tbody >
	</table>
	
	
		<div>
			<a class="btn btn-primary" th:href="@{/}">Back</a>
		</div>
		
		</div>
		
	<div th:replace="resources :: scripts"></div>	
	</body>
</html>